<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HOTELMANAGER.Properties.Settings.HOTELMNGConnectionString" connectionString="Data Source=LAPTOP-LFQPD5CN\SQLEXPRESS;Initial Catalog=HOTELMNG;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="HOTELMANAGER.Properties.Settings.QLKSConnectionString" connectionString="Data Source=LAPTOP-LFQPD5CN\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="HOTELMANAGER.Properties.Settings.HOTELConnectionString" connectionString="Data Source=LAPTOP-LFQPD5CN\SQLEXPRESS;Initial Catalog=HOTEL;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
